body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 18px;

}

* {
    box-sizing: border-box;
}

nav {
    border-bottom: 1px solid grey;
    background: rgb(236, 234, 234);
    display: flex;
    position: relative;

    .mobile-bar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:0.5em 1em;
        display: none;
        @media (max-width:480px){
            display: flex;
        }


        span {
            display: block;
            height: 2px;
            width: 20px;
            margin: 2px;
            background: rgb(109, 110, 110);
        }

        &.activ {
            background: blue;
            span {
                background: white;
            }
        }


        &:hover{
            background: beige;
            span{
                background: rgb(19, 19, 18);
            }
            &.activ {
                background: blue;
                span {
                    background: white;
                }
            }
        }

    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        @media (max-width:480px){
            display: none;
            &.active{
                display: flex;
                position: absolute;
                left:0;right:0;top:100%;
                flex-direction: column;
                li {
                    display: block;

                    a {
                        display: block;
                    }
                }
            }

        }
       
    }

    li {
        display: inline-block;
        a{
            display: inline-block;
            text-decoration: none;
            padding:0.5em 1em;
            color: black;
            &:hover{
                background: beige;
            }
        }
    }

}